.container{
/* width: 50%; */
margin-top: 10%;
}
.panel-danger > .panel-heading {
    background-color: darkblue;
    border-color: #ebccd1;
    color: white;
    text-align: center;
    font-size: xx-large;
}

@media (min-width: 992px){
.col-md-12 {
    width: 50%;
}
}
.panel-body {
    padding: 15px;
    margin-top: auto;
        box-shadow: 20px 20px 60px grey;
}
.centera{
  margin-left: 35%;
    font-size: x-large;
}
.signout{
  color: white;
font-size: x-large;
margin-top: 13px;
margin-right: 25px;
}
.container1 {
  height: 100%;
  align-items: center;
  padding: 20px;
  z-index: 1;
  background-color:rgb(255, 255,255);
  border-radius: 20px;
  font-size: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 30px;
  box-shadow:  5px 10px 8px #888888;
}
.container1 {
  padding: 16px;
  width: auto;text-align:center;
}
.box{
  width: 300px;
height: 300px;
padding: 15px;
box-shadow: 10px 10px 10px 10px #aaa;
}
.col-sm{
box-shadow: 10px 10px 10px #afafaf;
margin-top: 20px;
}
.column {
	float: left;
	width: 50%;
	padding: 30px;
	height: auto;
	border: 2px;
	outline: 2px;
	font-weight: bold;
	text-align: center;
	position: relative;
}

@media screen and (max-width: 650px) {
	.column {
		float: left;
		width: 100%;
		padding: 10px;
		height: auto;
		border: 2px;
		outline: 2px;
		font-weight: bold;
		text-align: center;
		position: relative;
	}
.form-group{
  width: 50%;
margin-left: 25%;
}
}
.form-control{
    text-align: center;
}
